.Bird-slider {
  width: 75%;
  margin: 15px auto 0;
  height: 400px;
  padding-bottom: 200px;
  .slick-slider {

    button {
      width: 60px;
      height: 60px;
      z-index: 29;
      border-radius: 25px;
      transition: 0.3s;
      font-family: Yekan;
      &:hover {
        box-shadow: 0 0 15px -10px #000;
        transition: 0.3s;
      }
    }
    button::before {
      background-color: white;
      display: inline-block;
      width: 60px;
      height: 45px;
      padding-top: 15px;
      color: #8485A9;
      font-size: 25px;
      border-radius: 30px;
      font-family: 'Nanum Myeongjo', serif;
      opacity: 1;
      box-shadow: 0 0 15px -10px #0009;
    }
    .slick-next::before {
      content: '>';
    }
    .slick-prev::before {
      content: '<';
    }
    @media screen and (max-width: 1850.0581px) {
      button {
        width: 50px;
        height: 50px;
      }
      button::before {
        width: 50px;
        height: 35px;
        font-size: 22.5px;
        padding-top: 15px;
      }
    }
    @media screen and (max-width: 1250.0521px) {
      button {
        width: 40px;
        height: 40px;
      }
      button::before {
        width: 40px;
        height: 30px;
        font-size: 17.5px;
        padding-top: 10px;
      }
    }
    @media screen and (max-width: 850.058px) {
      button {
        width: 35px;
        height: 35px;
      }
      button::before {
        width: 35px;
        height: 25px;
      }
    }
  }
  @media screen and (max-width: 1850.0581px) {
    height: 375px;
    width: 80%;
  }
  @media screen and (max-width: 1250.0521px) {
    height: 350px;
    width: 90%;
    padding-bottom: 150px;
  }
  @media screen and (max-width: 850.058px) {
    height: 300px;
    width: 95%;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 850.058px) {
    padding-bottom: 75px;
  }
}

.carousel-link {
  text-decoration: none ;
}

.carousel-item {
  display: grid;
  grid-template-rows: 4.75% 60% 20% 16.25%;
  grid-template-columns: 100%;
  height: 400px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px -5px #0001;
  margin: 0 auto;
  border-radius: 25px;
  transition: 0.3s;
  @media screen and (max-width: 1850.0581px) {
    height: 375px;
    width: 225px;
  }
  @media screen and (max-width: 1250.0521px) {
    height: 350px;
  }
  @media screen and (max-width: 850.058px) {
    height: 300px;
    width: 200px;
  }
  @media screen and (max-width: 650.056px) {
    height: 250px;
    width: 125px;
  }
  &:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  .forward-sale {
    background-color: #F33;
    position: relative;
    color: white;
    height: 28px;
    width: 90px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 5px;
    margin: 15px;
    font-family: Yekan;
    font-size: 0.8rem;
    @media screen and (max-width: 850.058px) {
      font-size: 0.7rem;
      line-height: 1.25rem;
      height: 24px;
      width: 80px;
      margin: 12.5px;
    }
    @media screen and (max-width: 650.056px) {
      font-size: 0.6rem;
      line-height: 1rem;
      height: 20px;
      width: 70px;
      margin: 10px;
    }
  }
  img {
    height: 90%;
    max-height: 90%;
    margin: auto;
  }
  .carouselItem-title {
    font-size: 0.9rem;
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 2rem;
    color: #8485A9;
    font-family: Yekan;
    @media screen and (max-width: 1850.0581px) {
      font-size: 0.75rem;
      line-height: 1.75rem;
    }
    @media screen and (max-width: 1250.0521px) {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
    @media screen and (max-width: 850.058px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    @media screen and (max-width: 650.056px) {
      font-size: 0.65rem;
      line-height: 1rem;
    }
  }
  .carouselItem-info {
    font-family: Yekan;
    &::before {
      content: ' ';
      border-top: 1px solid #0001;
      width: 250px;
      @media screen and (max-width: 1850.0581px) {
        width: 225px;
      }
      @media screen and (max-width: 850.058px) {
        width: 200px;
      }
      @media screen and (max-width: 650.056px) {
        width: 125px;
      }
      position: absolute;
    }
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;

    .carouselItem-price {
      text-align: center;
      direction: rtl;
      color: #665998;
      font-size: 1.1rem;
      height: 30px;
      font-family: Yekan;
      font-weight: bold;
      @media screen and (max-width: 1850.0581px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 1250.0521px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 850.058px) {
        font-size: 0.75rem;
      }
      @media screen and (max-width: 650.056px) {
        font-size: 0.65rem;
      }
    }
    .carouselItem-seller {
      text-align: center;
      direction: rtl;
      width: 80%;
      height: 30px;
      color: white;
      font-family: Yekan;
      border-radius: 15px 15px 15px 0px;
      @media screen and (max-width: 1850.0581px) {
        font-size: 1rem;
        height: 28px;
      }
      @media screen and (max-width: 1250.0521px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 850.058px) {
        font-size: 0.75rem;
        height: 20px;
      }
      @media screen and (max-width: 650.056px) {
        font-size: 0.6rem;
      }
    }
    .carouselItem-seller-other {
      background: rgb(206,208,219);
      background: linear-gradient(90deg, rgba(206,208,219,1) 0%, rgba(174,171,189,1) 100%); 
    }
    .carouselItem-seller-us {
      background: rgb(235,202,99);
      background: linear-gradient(90deg, rgba(235,202,99,1) 0%, rgba(215,179,70,1) 100%); 
    }
  }

}
