
.SearchBar {
  background-color: #FFF;
  z-index: 9;
  width: 65%;
  height: 170px;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 0 0 45px -15px #0001;
  margin-top: 730px;
  display: grid !important;
  align-content: center;
  z-index: 1000;
  
  @media screen and (max-width: 1250.0521px) {
    width: 90%;
  }
  @media screen and (max-width: 850.058px) {
    margin-top: 800px;
    width: 95%;
    height: 140px;
  }
  @media screen and (max-width: 650.056px) {
    margin-top: 750px;
    width: 95%;
    height: 100px;
  }
  div{
    display: grid !important;
    width: 90%;
    grid-template-columns: 5% 81% 14%;
    margin: 0 auto;
    img {
      opacity: 0.35;
      width: 75%;
      height: 61%;
      right: 1%;
      position: relative;
      border: 0.1px solid #0005;
      padding: 13.5px 0 13.5px 13.5px;
      border-radius: 10px 0 0 10px;
      border-right: none;
      @media screen and (max-width: 650.056px) {
        height: 42%;
      }
    }
    input {
      height: 69px;
      border: 0.1px solid #0002;
      border-right: none;
      border-left: none;
      direction: rtl;
      width: 100%;
      font-family: Yekan;
      font-size: 0.9rem;
      @media screen and (max-width: 650.056px) {
        height: 46px;
        font-size: 0.75rem;
      }
    }
    input::placeholder {
      color: #3D4672;
      font-family: Yekan;
    }
    .Search_submit {
      background-color: transparent;
      color: #988FBA;
      border: 0.1px solid #0002;
      border-radius: 10px;
      border-left: none;
      border-radius: 0 10px 10px 0;
      position: relative;
      left: 2px;
      height: 73px;
      font-family: Yekan;
      @media screen and (max-width: 650.056px) {
        height: 50px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  ul {
    position: absolute;
    text-decoration: none;
    top: 865px;
    width: 49%;
    left: 460px;
    max-height: 170px;
    overflow: auto;
    list-style: none;
    li {
      height: 40px;
      text-align: right;
      padding-right: 30px;

    }
  }
}